# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Secretos
.env
appsettings.Development.json
